  .glow-btn {
      position: relative;
      padding: 15px 40px;
      font-size: 18px;
      font-weight: bold;
      color: white;
      background: #111;
    
      border-radius: 12px;
      cursor: pointer;
      overflow: hidden;
      z-index: 1;
    }

    .glow-btn:hover {
          transform: scale(1.07);
  box-shadow: 0 6px 18px rgba(79, 70, 229, 0.6);

    }

  

    /* glowing effect around */
    .glow-btn::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150%;
      height: 150%;
      background: radial-gradient(circle, rgba(0, 255, 255, 0.6) 20%, transparent 70%);
      transform: translate(-50%, -50%) scale(0.8);
      border-radius: 50%;
      opacity: 0;
      animation: glowPulse 2.5s infinite;
      z-index: -1;
    }

    .glow-btn:hover::before {
      animation: none;
    }


    @keyframes glowPulse {
      0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0.7;
      }
      70% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
      
    }


  
@keyframes vibrate {
  0% { transform: rotate(0);}

  50% { transform: rotate3d(20deg); }
 
  100% { transform:rotate3d(-20deg); }
}
